.mine_box {
  
  // 虚化背景
  // overflow: hidden;
  position: relative;

  .backgroundlucency { // 背景
    overflow: hidden;
    width: 100%;
    // 放大1.2倍
    transform: scale(1.2);
    height: 30vh;
    filter: blur(12px);
    z-index: 0;
  }

  //上层盒子
  .mine_topBox { 
    position: absolute;
    // 置于上层
    top: 5vh;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;

   
    .mine_topBox_head {  // 头像
      image {
        width: 18.5vh;
        height: 18.5vh;
        border-radius: 50%;
        border: 3px white solid;
        transform: scale(0.7);
      }

      // background-color: red;
    }

    
    .mine_topBox_userinfo { // 用户信息

      
      .mine_topBox_name { // 用户名
        color: white;
        // background-color: yellow;
        font-weight: bold;
        font-family: "Microsoft YaHei";
        font-size: 19px;
      }

      
      .mine_topBox_slogan { // 海内存知己，天涯若比邻
        font-size: 24rpx;
        color: white;
        // font-weight: bold;
        font-family: "Microsoft YaHei";
        margin-top: 10rpx;
        margin-bottom: 10rpx;
      }

      
      .mine_topbox_genderOrRegion { //  用户信息栏
        margin-top: 10rpx;
        display: flex;
        align-items: center;
        // justify-content: center;
        .mine_topBox_gender {  // 用户性别 icon
          display: flex;
          width: 80rpx;
          flex-direction: column;
          border: 1px whitesmoke solid;
          background-color: whitesmoke;
          border-radius: 20rpx;
          align-items: center;
          background: rgba(rgb(245, 243, 243), 0.4);
          height: 40rpx;
          .mine_topBox_genderIcon {
            height: 40rpx;
            width: 40rpx;
          }
        }
        .chinainfo{  //中国icon
          border: 0px !important;
          background:0 !important;
          width: 40rpx;
          margin-right: 5rpx !important;
          margin-left: 10rpx;
        }
        .mine_topbox_region { // 用户地区
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100rpx;
          margin-left: 10rpx;
          border: 1px whitesmoke solid;
          background-color: whitesmoke;
          background: rgba(rgb(245, 243, 243), 0.3);
          border-radius: 20rpx;
          view {
            font-size: 24rpx;
            color: white;
            text-align: center;
            opacity: 1;
          }
        }
      }
    }
  }
  // 未登录状态
  .mine_topBox_Frame{
    margin-top: -30rpx;
    flex-direction: column !important;
    align-items: center;
    .mine_topBox_head_Franme{
      flex: 1;
    }
    .mine_topBox_userinfo_Franme{
      .btnLoginFrame{
        width: 160rpx;
        border: 1px white solid;
        text-align: center;
      }
    }
  }



  

  
  .mine_bottomBox {// 下层盒子：我的收藏/我的发布
    
    .mine_bottomBox_main{ // 下层主体盒子
      
      .mine_bottomBox_tabbar{// tabbar 
        
      }
    }
  }
}